$dark-color: #000000;
$light-color: #eeeeee;
$light-dark: #232320;
$green-color: #64f38c;
$orange-color: #ffb027;
$white-color: #ffffff;
$red-color: #ef476f;
$gradient: 89.29deg, #64f38c 10.32%, rgba(100, 243, 140, 0.785461) 21.4%,
  rgba(100, 243, 140, 0.541667) 40.13%, rgba(255, 176, 39, 1) 108.19%,
  rgba(247, 157, 0, 0) 120.37%;
